/* 세팅 */
@charset "utf-8";
html{
  -webkit-text-size-adjust:none;
}
/* IE and Edge, Firefox */
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Chrome, Safari, Opera*/
::-webkit-scrollbar {
  display: none;
}
*{
  box-sizing: border-box !important;
}
/* a:link,a:visited{
  color: black;
  text-decoration: none;
} */



    /*          시작           */
/* @media(min-width:1681px){
  .wrapper{
    zoom: 1;
  }
}
@media(max-width:1680px){
  .wrapper{
    zoom: 0.875;
  }
}
@media(max-width:1440px){
  .wrapper{
    zoom: 0.75;
  }
}
@media(max-width:1280px){
  .wrapper{
    zoom: 0.67;
  }
} */


.wrapper{
  position:absolute;
  left: 0;
  top: 0;
  width: 1920px;
}
/*     메뉴창         */
#menu_bar{
  position: fixed;
  left: 20px;
  top: 0px;
  z-index: 10;
}
#pop{
  display: none;
  position:fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 11;
  transition: display .5s;
}
#dimmed{
  position: absolute;
}
nav{
  position: absolute;
  left: 0;
  top: 0;
  width:600px;
  height: 100%;
  background-color: rgb(81,135,44);
  opacity: 0.9;
  z-index: 12;
}
#막대기{
  position:relative;
  top: 50px;
  left: 35px;
}
#오설록타이포로고{
  position:absolute;
}
#X_button *{
  position: absolute;
  top: 27.5px;
  right: 27.5px;
}
nav ul{
  margin-top: 120px;
  position:relative;
  list-style-type: none;
  padding-inline-start: 0;
  top: 157px;
  left: 119px;
}
nav li{
  position: relative;
  margin-bottom: 43px;
  width:350px;
}
.메뉴라인{
  display: block;
  position: relative;
  opacity: 0.3;
}
.nav_ko{
  position: absolute;
}
.섬_list{
  margin-left: 55px;
  transition: 5s;
  margin-bottom: -43px;
}
.섬들{
  padding:20px 40px 0 0;
}
.logos{
  position: absolute;
  right: 50px;
  bottom: 45px;
}
.logos_out{
  position: absolute;
  left: 50px;
  bottom: 45px;
}
.sns_logo{
  display: block;
  margin-top: 35px;
}

/*                 배경             */
.page{
  position: relative;
  /* width: calc(100vh * 1.9592); */
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
  background-attachment: fixed;
}
.page>.img>img{
  position: absolute;
  z-index: 5;
  transition: all 0.5s;
}
.main_logo{
  position:fixed;
  mix-blend-mode :multiply;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
}
.event{
  position:fixed;
  right:0;
  z-index: 4;
}
.location_bar{
  padding: 10px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  z-index: 5;
}
.location_bar:hover~#location_popup{
  display:none;
}

#location_popup{
  position: absolute;
  transform: translateX(-100%);
}
/* #location_popup:hover{
  display:none;
} */
.scroll_bar{
  position:absolute;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 3;
  animation: scroll 0.7s ease .3s infinite alternate;
}

@keyframes scroll {
    0%   {opacity: 0.8; bottom:20px;}

    100% {opacity: 1; bottom:0px;}

}
